

// Fonts
@import "node_modules/font-awesome/scss/font-awesome.scss";
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "theme";

@import "sidebar";

[v-cloak] {
	display: none;
}

.nav-dropdown {
	right: 0;
	left: auto;
}



.url_count {
  p {
    margin: 0;
  }
  .url_count_number {
    font-size: 5rem;
  }
  .url_count_link {

  }
}


